.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: none;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    gap: 12px;
  }
}
