.cover__overlay {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  color: #fff;
  box-sizing: content-box;
}

.cover__overlay::before {
  display: block;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 62.5%;
  background-color: rgba(42, 44, 47, 0.3);
  box-sizing: content-box;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}
